YOUR_MNEMONIC=""

# bnb, btc, or busd
START_COIN=bnb
START_AMOUNT=.001
WALLET_MIN=0

# amount of seconds between trades
TRADE_INTERVAL=300

SLIPPAGE=15
GWEI=5
GAS_LIMIT=450000

BSC_NODE=https://bsc-dataseed.binance.org/
